.product-list {
  padding: 1.5rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
}

@media screen and (max-width: 870px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
